/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body{
	margin:0;
	background-color: #364B61;
/*	background-image: url('loginbg.jpg');
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; */

}

.usernavpic {
	float: left;
}

.usernavname {
	color: white;
	text-align: left;
}

.signoutlink {
	position:absolute;
	float: left;
	margin-top: -45px

}

.alert {
	color: red;
}
.notice{
	color: white
}

header{
	position: fixed;
	color:black;
	background-color: rgba(10, 10, 10, .8);
	top:0;
	font-family: helvetica;
	height: 40px;
	text-align: center;
	/*padding-top: 20px;*/
	width: 100%;
	z-index: 1;

}

.mumblrlogo, .mumblrlogo2{
	color:white;
	text-align: right;
	padding-right: 5px;
	text-shadow: 1px 1px #636363;



}


.mumblrlogo{
		margin-top: -50px;
}

.mumblrlogo2{
		margin-top: 10px;
}

