.rightnav {
	position: fixed;
	border: 1px solid black;
	height: 800px;
	width: 150px;
	right: 0;
	margin-right: 100px;
	background-color: rgba(10, 10, 10, .4);
	border-radius: 15px;
}

.rightnav ul, .postsbody ul {
	list-style-type: none;
}

.rightnav li {
	border-radius: 10px;
}

.postsbody, .newpostbody {
	position: absolute;
	border: 1px solid black;
	width: 1000px;
	height: 5000px;
	margin-left: 200px;
	border-radius: 15px;
	
}

.commentbox {
	text-align: center;

}

.commentborders {
	border: 1px black solid;

}

.commentborders p {
	text-align: right;
}

#comment_body {
	resize: none;
}

#postbodyformat {
	text-align: justify;
	padding: 20px;

}

.poststyling {
	border: 1px solid black;
	height: 300px;
	width: 800px;
	padding-bottom: 20px;
	margin: 0 auto;
	margin-bottom: 40px;
	border-radius: 10px;
}

.posttitle {
	border: 1px solid black;
	height: 30px;
	width: 800px;
	font-size: 1.3em;
	border-radius: 10px;
	
}

.postsbody h1 {
	text-align: center;
}



#newpost, #viewprofile, #accountsettings, #signout, #followusers, #returnhome {
	border: 1px solid black;
	height: 100px;
	width: 100px;
	margin-bottom: 30px;
	text-align: center;
	margin-left: -15px;
	background-color: white;
}

#newpost {
	margin-top: 33px;
}

.posttopmargin {
	margin-top: 80px;
}

#timecreated {
	margin-top: 14px;
	font-size: 15px;
	float: right;
	padding-right: 5px;
}

@media 
(-webkit-min-device-pixel-ratio: 2), 
(min-resolution: 192dpi) { 

    .rightnav {
	position: fixed;
	border: 1px solid black;
	height: 700px;
	width: 150px;
	right: 0;
	margin-right: 0px;
	background-color: rgba(10, 10, 10, .4);
	top:40px;
}

.postsbody {
	position: absolute;
	border: 1px solid black;
	width: 900px;
	height: 5000px;
	margin-left: 200px;

}

}